In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# Function to extract review details
# Purpose: To extract specific details (date, header, rating, content, etc.) from the `review` object
# `review` is an HTML element from the web page
def extract_review(review):
    review_dict = {}

    # Extract the date
    try:
        review_dict["date"] = review.find("meta").get("content")
    except AttributeError:
        review_dict["date"] = None

    # Extract the header
    header = review.find("h2", {"class": "text_header"})
    review_dict["header"] = header.get_text() if header else None

    # Extract the rating
    rating = review.find("div", {"class": "rating-10"})
    review_dict["rating"] = None  
    if rating:
        span = rating.find("span")
        if span:
            review_dict["rating"] = span.get_text()

    # Extract the content
    content = review.find("div", {"class": "text_content"})
    review_dict["content"] = content.get_text().strip() if content else None

    # Extract additional ratings from the table
    table = review.find("table", {"class": "review-ratings"})
    if table:
        data = table.find_all("td")

        # Separate the category names (keys) and their ratings (values)
        keys = data[::2]
        values = data[1::2]

        for key, value in zip(keys, values):
            key_text = key.get_text()
            star_value = None

            try:
                star_value = value.find_all("span", {"class": "star fill"})[-1]
            except IndexError:
                pass

            if star_value:
                review_dict[key_text] = star_value.get_text()
            else:
                review_dict[key_text] = value.get_text() if value else None

    return review_dict

In [3]:
import re

# Function to get total number of pages
def get_total_pages(url):
    response = requests.get(url)
    content = BeautifulSoup(response.content, "html.parser")
    
    # Find the total number of pages by looking for a page navigation element
    pagination = content.find("div", {"class": "pagination-total"})
    if pagination:
        total_pages_text = pagination.get_text(strip=True)
        # Extract only numbers from the text using regular expressions
        total_pages = re.findall(r'\d+', total_pages_text)
        if total_pages:
            return int(total_pages[-1])  # Return the last number (total pages)
    return 1

In [4]:
# Function to scrape all pages
def get_all_reviews(airline_url):
    # List to store all reviews
    reviews_list = []
    total_pages = get_total_pages(airline_url)  # Get the total number of pages
    print(f"Total pages found: {total_pages}")

    for page in range(1, total_pages + 1):
        # Request each page's URL
        response = requests.get(f"{airline_url}page/{page}/")
        content = BeautifulSoup(response.content, "html.parser")
        
        # Find all review articles
        content_reviews = content.find_all("article", class_=lambda value: value and value.startswith("review-"))

        if not content_reviews:  # Stop if no more reviews
            break

        # Loop through reviews and extract data, add it to the list
        for review in content_reviews:
            review_data = extract_review(review)
            reviews_list.append(review_data)

        print(f"Scraped page {page} of {total_pages}")

    # Convert list of dictionaries to pandas DataFrame
    reviews_df = pd.DataFrame(reviews_list)

    # Remove rows where header or rating is missing, to improve quality of data
    reviews_df = reviews_df.dropna(subset=['header', 'rating'])

    return reviews_df

In [5]:
# Define the URL for Air New Zealand reviews
airline_url = "https://www.airlinequality.com/airline-reviews/air-new-zealand/"

# Scrape all reviews across pages
reviews_df = get_all_reviews(airline_url)

# Display the DataFrame
print(reviews_df)

Total pages found: 866
Scraped page 1 of 866
Scraped page 2 of 866
Scraped page 3 of 866
Scraped page 4 of 866
Scraped page 5 of 866
Scraped page 6 of 866
Scraped page 7 of 866
Scraped page 8 of 866
Scraped page 9 of 866
Scraped page 10 of 866
Scraped page 11 of 866
Scraped page 12 of 866
Scraped page 13 of 866
Scraped page 14 of 866
Scraped page 15 of 866
Scraped page 16 of 866
Scraped page 17 of 866
Scraped page 18 of 866
Scraped page 19 of 866
Scraped page 20 of 866
Scraped page 21 of 866
Scraped page 22 of 866
Scraped page 23 of 866
Scraped page 24 of 866
Scraped page 25 of 866
Scraped page 26 of 866
Scraped page 27 of 866
Scraped page 28 of 866
Scraped page 29 of 866
Scraped page 30 of 866
Scraped page 31 of 866
Scraped page 32 of 866
Scraped page 33 of 866
Scraped page 34 of 866
Scraped page 35 of 866
Scraped page 36 of 866
Scraped page 37 of 866
Scraped page 38 of 866
Scraped page 39 of 866
Scraped page 40 of 866
Scraped page 41 of 866
Scraped page 42 of 866
Scraped page 43 of 866
Scraped page 44 of 866
Scraped page 45 of 866
Scraped page 46 of 866
Scraped page 47 of 866
Scraped page 48 of 866
Scraped page 49 of 866
Scraped page 50 of 866
Scraped page 51 of 866
Scraped page 52 of 866
Scraped page 53 of 866
Scraped page 54 of 866
Scraped page 55 of 866
Scraped page 56 of 866
Scraped page 57 of 866
Scraped page 58 of 866
Scraped page 59 of 866
Scraped page 60 of 866
Scraped page 61 of 866
Scraped page 62 of 866
Scraped page 63 of 866
Scraped page 64 of 866
Scraped page 65 of 866
Scraped page 66 of 866
Scraped page 67 of 866
Scraped page 68 of 866
Scraped page 69 of 866
Scraped page 70 of 866
Scraped page 71 of 866
Scraped page 72 of 866
Scraped page 73 of 866
Scraped page 74 of 866
Scraped page 75 of 866
Scraped page 76 of 866
Scraped page 77 of 866
Scraped page 78 of 866
Scraped page 79 of 866
Scraped page 80 of 866
Scraped page 81 of 866
Scraped page 82 of 866
Scraped page 83 of 866
Scraped page 84 of 866
Scraped page 85 of 866
Scraped page 86 of 866
Scraped page 87 of 866
Scraped page 88 of 866
Scraped page 89 of 866
Scraped page 90 of 866
Scraped page 91 of 866
Scraped page 92 of 866
Scraped page 93 of 866
Scraped page 94 of 866
Scraped page 95 of 866
Scraped page 96 of 866
Scraped page 97 of 866
Scraped page 98 of 866
Scraped page 99 of 866
Scraped page 100 of 866
Scraped page 101 of 866
Scraped page 102 of 866
Scraped page 103 of 866
Scraped page 104 of 866
Scraped page 105 of 866
Scraped page 106 of 866
Scraped page 107 of 866
Scraped page 108 of 866
Scraped page 109 of 866
Scraped page 110 of 866
Scraped page 111 of 866
Scraped page 112 of 866
Scraped page 113 of 866
Scraped page 114 of 866
Scraped page 115 of 866
Scraped page 116 of 866
Scraped page 117 of 866
Scraped page 118 of 866
Scraped page 119 of 866
Scraped page 120 of 866
Scraped page 121 of 866
Scraped page 122 of 866
Scraped page 123 of 866
Scraped page 124 of 866
Scraped page 125 of 866
Scraped page 126 of 866
Scraped page 127 of 866
Scraped page 128 of 866
Scraped page 129 of 866
Scraped page 130 of 866
Scraped page 131 of 866
Scraped page 132 of 866
Scraped page 133 of 866
Scraped page 134 of 866
Scraped page 135 of 866
Scraped page 136 of 866
Scraped page 137 of 866
Scraped page 138 of 866
Scraped page 139 of 866
Scraped page 140 of 866
Scraped page 141 of 866
Scraped page 142 of 866
Scraped page 143 of 866
Scraped page 144 of 866
Scraped page 145 of 866
Scraped page 146 of 866
Scraped page 147 of 866
Scraped page 148 of 866
Scraped page 149 of 866
Scraped page 150 of 866
Scraped page 151 of 866
Scraped page 152 of 866
Scraped page 153 of 866
Scraped page 154 of 866
Scraped page 155 of 866
Scraped page 156 of 866
Scraped page 157 of 866
Scraped page 158 of 866
Scraped page 159 of 866
Scraped page 160 of 866
Scraped page 161 of 866
Scraped page 162 of 866
Scraped page 163 of 866
Scraped page 164 of 866
Scraped page 165 of 866
Scraped page 166 of 866
Scraped page 167 of 866
Scraped page 168 of 866
Scraped page 169 of 866
Scraped page 170 of 866
Scraped page 171 of 866
Scraped page 172 of 866
Scraped page 173 of 866
Scraped page 174 of 866
Scraped page 175 of 866
Scraped page 176 of 866
Scraped page 177 of 866
Scraped page 178 of 866
Scraped page 179 of 866
Scraped page 180 of 866
Scraped page 181 of 866
Scraped page 182 of 866
Scraped page 183 of 866
Scraped page 184 of 866
Scraped page 185 of 866
Scraped page 186 of 866
Scraped page 187 of 866
Scraped page 188 of 866
Scraped page 189 of 866
Scraped page 190 of 866
Scraped page 191 of 866
Scraped page 192 of 866
Scraped page 193 of 866
Scraped page 194 of 866
Scraped page 195 of 866
Scraped page 196 of 866
Scraped page 197 of 866
Scraped page 198 of 866
Scraped page 199 of 866
Scraped page 200 of 866
Scraped page 201 of 866
Scraped page 202 of 866
Scraped page 203 of 866
Scraped page 204 of 866
Scraped page 205 of 866
Scraped page 206 of 866
Scraped page 207 of 866
Scraped page 208 of 866
Scraped page 209 of 866
Scraped page 210 of 866
Scraped page 211 of 866
Scraped page 212 of 866
Scraped page 213 of 866
Scraped page 214 of 866
Scraped page 215 of 866
Scraped page 216 of 866
Scraped page 217 of 866
Scraped page 218 of 866
Scraped page 219 of 866
Scraped page 220 of 866
Scraped page 221 of 866
Scraped page 222 of 866
Scraped page 223 of 866
Scraped page 224 of 866
Scraped page 225 of 866
Scraped page 226 of 866
Scraped page 227 of 866
Scraped page 228 of 866
Scraped page 229 of 866
Scraped page 230 of 866
Scraped page 231 of 866
Scraped page 232 of 866
Scraped page 233 of 866
Scraped page 234 of 866
Scraped page 235 of 866
Scraped page 236 of 866
Scraped page 237 of 866
Scraped page 238 of 866
Scraped page 239 of 866
Scraped page 240 of 866
Scraped page 241 of 866
Scraped page 242 of 866
Scraped page 243 of 866
Scraped page 244 of 866
Scraped page 245 of 866
Scraped page 246 of 866
Scraped page 247 of 866
Scraped page 248 of 866
Scraped page 249 of 866
Scraped page 250 of 866
Scraped page 251 of 866
Scraped page 252 of 866
Scraped page 253 of 866
Scraped page 254 of 866
Scraped page 255 of 866
Scraped page 256 of 866
Scraped page 257 of 866
Scraped page 258 of 866
Scraped page 259 of 866
Scraped page 260 of 866
Scraped page 261 of 866
Scraped page 262 of 866
Scraped page 263 of 866
Scraped page 264 of 866
Scraped page 265 of 866
Scraped page 266 of 866
Scraped page 267 of 866
Scraped page 268 of 866
Scraped page 269 of 866
Scraped page 270 of 866
Scraped page 271 of 866
Scraped page 272 of 866
Scraped page 273 of 866
Scraped page 274 of 866
Scraped page 275 of 866
Scraped page 276 of 866
Scraped page 277 of 866
Scraped page 278 of 866
Scraped page 279 of 866
Scraped page 280 of 866
Scraped page 281 of 866
Scraped page 282 of 866
Scraped page 283 of 866
Scraped page 284 of 866
Scraped page 285 of 866
Scraped page 286 of 866
Scraped page 287 of 866
Scraped page 288 of 866
Scraped page 289 of 866
Scraped page 290 of 866
Scraped page 291 of 866
Scraped page 292 of 866
Scraped page 293 of 866
Scraped page 294 of 866
Scraped page 295 of 866
Scraped page 296 of 866
Scraped page 297 of 866
Scraped page 298 of 866
Scraped page 299 of 866
Scraped page 300 of 866
Scraped page 301 of 866
Scraped page 302 of 866
Scraped page 303 of 866
Scraped page 304 of 866
Scraped page 305 of 866
Scraped page 306 of 866
Scraped page 307 of 866
Scraped page 308 of 866
Scraped page 309 of 866
Scraped page 310 of 866
Scraped page 311 of 866
Scraped page 312 of 866
Scraped page 313 of 866
Scraped page 314 of 866
Scraped page 315 of 866
Scraped page 316 of 866
Scraped page 317 of 866
Scraped page 318 of 866
Scraped page 319 of 866
Scraped page 320 of 866
Scraped page 321 of 866
Scraped page 322 of 866
Scraped page 323 of 866
Scraped page 324 of 866
Scraped page 325 of 866
Scraped page 326 of 866
Scraped page 327 of 866
Scraped page 328 of 866
Scraped page 329 of 866
Scraped page 330 of 866
Scraped page 331 of 866
Scraped page 332 of 866
Scraped page 333 of 866
Scraped page 334 of 866
Scraped page 335 of 866
Scraped page 336 of 866
Scraped page 337 of 866
Scraped page 338 of 866
Scraped page 339 of 866
Scraped page 340 of 866
Scraped page 341 of 866
Scraped page 342 of 866
Scraped page 343 of 866
Scraped page 344 of 866
Scraped page 345 of 866
Scraped page 346 of 866
Scraped page 347 of 866
Scraped page 348 of 866
Scraped page 349 of 866
Scraped page 350 of 866
Scraped page 351 of 866
Scraped page 352 of 866
Scraped page 353 of 866
Scraped page 354 of 866
Scraped page 355 of 866
Scraped page 356 of 866
Scraped page 357 of 866
Scraped page 358 of 866
Scraped page 359 of 866
Scraped page 360 of 866
Scraped page 361 of 866
Scraped page 362 of 866
Scraped page 363 of 866
Scraped page 364 of 866
Scraped page 365 of 866
Scraped page 366 of 866
Scraped page 367 of 866
Scraped page 368 of 866
Scraped page 369 of 866
Scraped page 370 of 866
Scraped page 371 of 866
Scraped page 372 of 866
Scraped page 373 of 866
Scraped page 374 of 866
Scraped page 375 of 866
Scraped page 376 of 866
Scraped page 377 of 866
Scraped page 378 of 866
Scraped page 379 of 866
Scraped page 380 of 866
Scraped page 381 of 866
Scraped page 382 of 866
Scraped page 383 of 866
Scraped page 384 of 866
Scraped page 385 of 866
Scraped page 386 of 866
Scraped page 387 of 866
Scraped page 388 of 866
Scraped page 389 of 866
Scraped page 390 of 866
Scraped page 391 of 866
Scraped page 392 of 866
Scraped page 393 of 866
Scraped page 394 of 866
Scraped page 395 of 866
Scraped page 396 of 866
Scraped page 397 of 866
Scraped page 398 of 866
Scraped page 399 of 866
Scraped page 400 of 866
Scraped page 401 of 866
Scraped page 402 of 866
Scraped page 403 of 866
Scraped page 404 of 866
Scraped page 405 of 866
Scraped page 406 of 866
Scraped page 407 of 866
Scraped page 408 of 866
Scraped page 409 of 866
Scraped page 410 of 866
Scraped page 411 of 866
Scraped page 412 of 866
Scraped page 413 of 866
Scraped page 414 of 866
Scraped page 415 of 866
Scraped page 416 of 866
Scraped page 417 of 866
Scraped page 418 of 866
Scraped page 419 of 866
Scraped page 420 of 866
Scraped page 421 of 866
Scraped page 422 of 866
Scraped page 423 of 866
Scraped page 424 of 866
Scraped page 425 of 866
Scraped page 426 of 866
Scraped page 427 of 866
Scraped page 428 of 866
Scraped page 429 of 866
Scraped page 430 of 866
Scraped page 431 of 866
Scraped page 432 of 866
Scraped page 433 of 866
Scraped page 434 of 866
Scraped page 435 of 866
Scraped page 436 of 866
Scraped page 437 of 866
Scraped page 438 of 866
Scraped page 439 of 866
Scraped page 440 of 866
Scraped page 441 of 866
Scraped page 442 of 866
Scraped page 443 of 866
Scraped page 444 of 866
Scraped page 445 of 866
Scraped page 446 of 866
Scraped page 447 of 866
Scraped page 448 of 866
Scraped page 449 of 866
Scraped page 450 of 866
Scraped page 451 of 866
Scraped page 452 of 866
Scraped page 453 of 866
Scraped page 454 of 866
Scraped page 455 of 866
Scraped page 456 of 866
Scraped page 457 of 866
Scraped page 458 of 866
Scraped page 459 of 866
Scraped page 460 of 866
Scraped page 461 of 866
Scraped page 462 of 866
Scraped page 463 of 866
Scraped page 464 of 866
Scraped page 465 of 866
Scraped page 466 of 866
Scraped page 467 of 866
Scraped page 468 of 866
Scraped page 469 of 866
Scraped page 470 of 866
Scraped page 471 of 866
Scraped page 472 of 866
Scraped page 473 of 866
Scraped page 474 of 866
Scraped page 475 of 866
Scraped page 476 of 866
Scraped page 477 of 866
Scraped page 478 of 866
Scraped page 479 of 866
Scraped page 480 of 866
Scraped page 481 of 866
Scraped page 482 of 866
Scraped page 483 of 866
Scraped page 484 of 866
Scraped page 485 of 866
Scraped page 486 of 866
Scraped page 487 of 866
Scraped page 488 of 866
Scraped page 489 of 866
Scraped page 490 of 866
Scraped page 491 of 866
Scraped page 492 of 866
Scraped page 493 of 866
Scraped page 494 of 866
Scraped page 495 of 866
Scraped page 496 of 866
Scraped page 497 of 866
Scraped page 498 of 866
Scraped page 499 of 866
Scraped page 500 of 866
Scraped page 501 of 866
Scraped page 502 of 866
Scraped page 503 of 866
Scraped page 504 of 866
Scraped page 505 of 866
Scraped page 506 of 866
Scraped page 507 of 866
Scraped page 508 of 866
Scraped page 509 of 866
Scraped page 510 of 866
Scraped page 511 of 866
Scraped page 512 of 866
Scraped page 513 of 866
Scraped page 514 of 866
Scraped page 515 of 866
Scraped page 516 of 866
Scraped page 517 of 866
Scraped page 518 of 866
Scraped page 519 of 866
Scraped page 520 of 866
Scraped page 521 of 866
Scraped page 522 of 866
Scraped page 523 of 866
Scraped page 524 of 866
Scraped page 525 of 866
Scraped page 526 of 866
Scraped page 527 of 866
Scraped page 528 of 866
Scraped page 529 of 866
Scraped page 530 of 866
Scraped page 531 of 866
Scraped page 532 of 866
Scraped page 533 of 866
Scraped page 534 of 866
Scraped page 535 of 866
Scraped page 536 of 866
Scraped page 537 of 866
Scraped page 538 of 866
Scraped page 539 of 866
Scraped page 540 of 866
Scraped page 541 of 866
Scraped page 542 of 866
Scraped page 543 of 866
Scraped page 544 of 866
Scraped page 545 of 866
Scraped page 546 of 866
Scraped page 547 of 866
Scraped page 548 of 866
Scraped page 549 of 866
Scraped page 550 of 866
Scraped page 551 of 866
Scraped page 552 of 866
Scraped page 553 of 866
Scraped page 554 of 866
Scraped page 555 of 866
Scraped page 556 of 866
Scraped page 557 of 866
Scraped page 558 of 866
Scraped page 559 of 866
Scraped page 560 of 866
Scraped page 561 of 866
Scraped page 562 of 866
Scraped page 563 of 866
Scraped page 564 of 866
Scraped page 565 of 866
Scraped page 566 of 866
Scraped page 567 of 866
Scraped page 568 of 866
Scraped page 569 of 866
Scraped page 570 of 866
Scraped page 571 of 866
Scraped page 572 of 866
Scraped page 573 of 866
Scraped page 574 of 866
Scraped page 575 of 866
Scraped page 576 of 866
Scraped page 577 of 866
Scraped page 578 of 866
Scraped page 579 of 866
Scraped page 580 of 866
Scraped page 581 of 866
Scraped page 582 of 866
Scraped page 583 of 866
Scraped page 584 of 866
Scraped page 585 of 866
Scraped page 586 of 866
Scraped page 587 of 866
Scraped page 588 of 866
Scraped page 589 of 866
Scraped page 590 of 866
Scraped page 591 of 866
Scraped page 592 of 866
Scraped page 593 of 866
Scraped page 594 of 866
Scraped page 595 of 866
Scraped page 596 of 866
Scraped page 597 of 866
Scraped page 598 of 866
Scraped page 599 of 866
Scraped page 600 of 866
Scraped page 601 of 866
Scraped page 602 of 866
Scraped page 603 of 866
Scraped page 604 of 866
Scraped page 605 of 866
Scraped page 606 of 866
Scraped page 607 of 866
Scraped page 608 of 866
Scraped page 609 of 866
Scraped page 610 of 866
Scraped page 611 of 866
Scraped page 612 of 866
Scraped page 613 of 866
Scraped page 614 of 866
Scraped page 615 of 866
Scraped page 616 of 866
Scraped page 617 of 866
Scraped page 618 of 866
Scraped page 619 of 866
Scraped page 620 of 866
Scraped page 621 of 866
Scraped page 622 of 866
Scraped page 623 of 866
Scraped page 624 of 866
Scraped page 625 of 866
Scraped page 626 of 866
Scraped page 627 of 866
Scraped page 628 of 866
Scraped page 629 of 866
Scraped page 630 of 866
Scraped page 631 of 866
Scraped page 632 of 866
Scraped page 633 of 866
Scraped page 634 of 866
Scraped page 635 of 866
Scraped page 636 of 866
Scraped page 637 of 866
Scraped page 638 of 866
Scraped page 639 of 866
Scraped page 640 of 866
Scraped page 641 of 866
Scraped page 642 of 866
Scraped page 643 of 866
Scraped page 644 of 866
Scraped page 645 of 866
Scraped page 646 of 866
Scraped page 647 of 866
Scraped page 648 of 866
Scraped page 649 of 866
Scraped page 650 of 866
Scraped page 651 of 866
Scraped page 652 of 866
Scraped page 653 of 866
Scraped page 654 of 866
Scraped page 655 of 866
Scraped page 656 of 866
Scraped page 657 of 866
Scraped page 658 of 866
Scraped page 659 of 866
Scraped page 660 of 866
Scraped page 661 of 866
Scraped page 662 of 866
Scraped page 663 of 866
Scraped page 664 of 866
Scraped page 665 of 866
Scraped page 666 of 866
Scraped page 667 of 866
Scraped page 668 of 866
Scraped page 669 of 866
Scraped page 670 of 866
Scraped page 671 of 866
Scraped page 672 of 866
Scraped page 673 of 866
Scraped page 674 of 866
Scraped page 675 of 866
Scraped page 676 of 866
Scraped page 677 of 866
Scraped page 678 of 866
Scraped page 679 of 866
Scraped page 680 of 866
Scraped page 681 of 866
Scraped page 682 of 866
Scraped page 683 of 866
Scraped page 684 of 866
Scraped page 685 of 866
Scraped page 686 of 866
Scraped page 687 of 866
Scraped page 688 of 866
Scraped page 689 of 866
Scraped page 690 of 866
Scraped page 691 of 866
Scraped page 692 of 866
Scraped page 693 of 866
Scraped page 694 of 866
Scraped page 695 of 866
Scraped page 696 of 866
Scraped page 697 of 866
Scraped page 698 of 866
Scraped page 699 of 866
Scraped page 700 of 866
Scraped page 701 of 866
Scraped page 702 of 866
Scraped page 703 of 866
Scraped page 704 of 866
Scraped page 705 of 866
Scraped page 706 of 866
Scraped page 707 of 866
Scraped page 708 of 866
Scraped page 709 of 866
Scraped page 710 of 866
Scraped page 711 of 866
Scraped page 712 of 866
Scraped page 713 of 866
Scraped page 714 of 866
Scraped page 715 of 866
Scraped page 716 of 866
Scraped page 717 of 866
Scraped page 718 of 866
Scraped page 719 of 866
Scraped page 720 of 866
Scraped page 721 of 866
Scraped page 722 of 866
Scraped page 723 of 866
Scraped page 724 of 866
Scraped page 725 of 866
Scraped page 726 of 866
Scraped page 727 of 866
Scraped page 728 of 866
Scraped page 729 of 866
Scraped page 730 of 866
Scraped page 731 of 866
Scraped page 732 of 866
Scraped page 733 of 866
Scraped page 734 of 866
Scraped page 735 of 866
Scraped page 736 of 866
Scraped page 737 of 866
Scraped page 738 of 866
Scraped page 739 of 866
Scraped page 740 of 866
Scraped page 741 of 866
Scraped page 742 of 866
Scraped page 743 of 866
Scraped page 744 of 866
Scraped page 745 of 866
Scraped page 746 of 866
Scraped page 747 of 866
Scraped page 748 of 866
Scraped page 749 of 866
Scraped page 750 of 866
Scraped page 751 of 866
Scraped page 752 of 866
Scraped page 753 of 866
Scraped page 754 of 866
Scraped page 755 of 866
Scraped page 756 of 866
Scraped page 757 of 866
Scraped page 758 of 866
Scraped page 759 of 866
Scraped page 760 of 866
Scraped page 761 of 866
Scraped page 762 of 866
Scraped page 763 of 866
Scraped page 764 of 866
Scraped page 765 of 866
Scraped page 766 of 866
Scraped page 767 of 866
Scraped page 768 of 866
Scraped page 769 of 866
Scraped page 770 of 866
Scraped page 771 of 866
Scraped page 772 of 866
Scraped page 773 of 866
Scraped page 774 of 866
Scraped page 775 of 866
Scraped page 776 of 866
Scraped page 777 of 866
Scraped page 778 of 866
Scraped page 779 of 866
Scraped page 780 of 866
Scraped page 781 of 866
Scraped page 782 of 866
Scraped page 783 of 866
Scraped page 784 of 866
Scraped page 785 of 866
Scraped page 786 of 866
Scraped page 787 of 866
Scraped page 788 of 866
Scraped page 789 of 866
Scraped page 790 of 866
Scraped page 791 of 866
Scraped page 792 of 866
Scraped page 793 of 866
Scraped page 794 of 866
Scraped page 795 of 866
Scraped page 796 of 866
Scraped page 797 of 866
Scraped page 798 of 866
Scraped page 799 of 866
Scraped page 800 of 866
Scraped page 801 of 866
Scraped page 802 of 866
Scraped page 803 of 866
Scraped page 804 of 866
Scraped page 805 of 866
Scraped page 806 of 866
Scraped page 807 of 866
Scraped page 808 of 866
Scraped page 809 of 866
Scraped page 810 of 866
Scraped page 811 of 866
Scraped page 812 of 866
Scraped page 813 of 866
Scraped page 814 of 866
Scraped page 815 of 866
Scraped page 816 of 866
Scraped page 817 of 866
Scraped page 818 of 866
Scraped page 819 of 866
Scraped page 820 of 866
Scraped page 821 of 866
Scraped page 822 of 866
Scraped page 823 of 866
Scraped page 824 of 866
Scraped page 825 of 866
Scraped page 826 of 866
Scraped page 827 of 866
Scraped page 828 of 866
Scraped page 829 of 866
Scraped page 830 of 866
Scraped page 831 of 866
Scraped page 832 of 866
Scraped page 833 of 866
Scraped page 834 of 866
Scraped page 835 of 866
Scraped page 836 of 866

In [6]:
# Save the scraped reviews to a CSV file
reviews_df.to_csv("air_new_zealand_reviews.csv", index=False)
reviews_df

,date,header,rating,content,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Wifi & Connectivity,Value For Money,Recommended,Inflight Entertainment
0,2024-08-29,“the legroom was huge”,9,Not Verified | I was honestly quite surprised ...,A320,Family Leisure,Economy Class,Auckland to Queenstown,December 2023,5,5,5,5,4,5,yes,NaN
1,2024-08-19,"""getting worse by the day""",3,Not Verified | Air New Zealand domestic servi...,NaN,Business,Economy Class,Auckland to Napier,August 2024,4,5,NaN,5,NaN,1,no,NaN
2,2024-08-13,"""never fly Air New Zealand again""",1,✅ Trip Verified | Air New Zealand bumped us ...,ATR-72,Family Leisure,Economy Class,Napier to Auckland,June 2024,3,4,NaN,1,NaN,1,no,NaN
3,2024-07-29,"""has been going downhill""",1,Not Verified | Very unfortunately the servic...,NaN,Solo Leisure,Business Class,San Francisco to Queenstown via Auckland,August 2023,2,3,2,1,1,2,no,2
4,2024-07-19,"""Cabin crew and aircraft were great""",10,✅ Trip Verified | Check-in was efficient; boa...,A320N,Solo Leisure,Economy Class,Auckland to Hobart,December 2023,4,5,4,4,NaN,5,yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
946,2013-05-08,Air New Zealand customer review,9,Flew Premium Economy from LAX to AKL on a 777-...,NaN,NaN,Premium Economy,NaN,NaN,4,5,5,NaN,NaN,5,yes,5
947,2013-05-08,Air New Zealand customer review,3,Leg room on Internal flights is getting smalle...,NaN,NaN,Economy Class,NaN,NaN,1,4,3,NaN,NaN,3,no,N/A
948,2013-05-06,Air New Zealand customer review,5,Adelaide to Auckland April 28 2013. Usual incr...,NaN,NaN,Economy Class,NaN,NaN,3,3,4,NaN,NaN,3,no,1
949,2013-05-01,Air New Zealand customer review,5,B747-400 Premium Economy SFO-AKL B767 Works AK...,NaN,NaN,Premium Economy,NaN,NaN,3,3,4,NaN,NaN,2,no,3
950,2013-05-01,Air New Zealand customer review,5,I have been flying with Air New Zealand since ...,NaN,NaN,Premium Economy,NaN,NaN,4,3,4,NaN,NaN,2,no,2

In [7]:
# Load the scraped CSV file
airnz_reviews = "air_new_zealand_reviews.csv"
reviews_df = pd.read_csv(airnz_reviews)

reviews_df

,date,header,rating,content,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Wifi & Connectivity,Value For Money,Recommended,Inflight Entertainment
0,2024-08-29,“the legroom was huge”,9,Not Verified | I was honestly quite surprised ...,A320,Family Leisure,Economy Class,Auckland to Queenstown,December 2023,5.0,5.0,5.0,5.0,4.0,5.0,yes,NaN
1,2024-08-19,"""getting worse by the day""",3,Not Verified | Air New Zealand domestic servi...,NaN,Business,Economy Class,Auckland to Napier,August 2024,4.0,5.0,NaN,5.0,NaN,1.0,no,NaN
2,2024-08-13,"""never fly Air New Zealand again""",1,✅ Trip Verified | Air New Zealand bumped us ...,ATR-72,Family Leisure,Economy Class,Napier to Auckland,June 2024,3.0,4.0,NaN,1.0,NaN,1.0,no,NaN
3,2024-07-29,"""has been going downhill""",1,Not Verified | Very unfortunately the servic...,NaN,Solo Leisure,Business Class,San Francisco to Queenstown via Auckland,August 2023,2.0,3.0,2.0,1.0,1.0,2.0,no,2.0
4,2024-07-19,"""Cabin crew and aircraft were great""",10,✅ Trip Verified | Check-in was efficient; boa...,A320N,Solo Leisure,Economy Class,Auckland to Hobart,December 2023,4.0,5.0,4.0,4.0,NaN,5.0,yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832,2013-05-08,Air New Zealand customer review,9,Flew Premium Economy from LAX to AKL on a 777-...,NaN,NaN,Premium Economy,NaN,NaN,4.0,5.0,5.0,NaN,NaN,5.0,yes,5.0
833,2013-05-08,Air New Zealand customer review,3,Leg room on Internal flights is getting smalle...,NaN,NaN,Economy Class,NaN,NaN,1.0,4.0,3.0,NaN,NaN,3.0,no,NaN
834,2013-05-06,Air New Zealand customer review,5,Adelaide to Auckland April 28 2013. Usual incr...,NaN,NaN,Economy Class,NaN,NaN,3.0,3.0,4.0,NaN,NaN,3.0,no,1.0
835,2013-05-01,Air New Zealand customer review,5,B747-400 Premium Economy SFO-AKL B767 Works AK...,NaN,NaN,Premium Economy,NaN,NaN,3.0,3.0,4.0,NaN,NaN,2.0,no,3.0
836,2013-05-01,Air New Zealand customer review,5,I have been flying with Air New Zealand since ...,NaN,NaN,Premium Economy,NaN,NaN,4.0,3.0,4.0,NaN,NaN,2.0,no,2.0

In [8]:
# Format headers: convert to lowercase and replace spaces with underscores
new_columns = {}

for col in reviews_df.columns:
    # Convert the column name to lowercase
    clean_col = col.lower()
    
    # Replace any spaces with underscores
    clean_col = re.sub(r"\s+", '_', clean_col)
    
    # Add the cleaned column name to the new_columns dictionary
    new_columns[col] = clean_col

# Use the dictionary to rename the columns in the dataframe
reviews_df = reviews_df.rename(columns=new_columns)

reviews_df

,date,header,rating,content,aircraft,type_of_traveller,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_&_beverages,ground_service,wifi_&_connectivity,value_for_money,recommended,inflight_entertainment
0,2024-08-29,“the legroom was huge”,9,Not Verified | I was honestly quite surprised ...,A320,Family Leisure,Economy Class,Auckland to Queenstown,December 2023,5.0,5.0,5.0,5.0,4.0,5.0,yes,NaN
1,2024-08-19,"""getting worse by the day""",3,Not Verified | Air New Zealand domestic servi...,NaN,Business,Economy Class,Auckland to Napier,August 2024,4.0,5.0,NaN,5.0,NaN,1.0,no,NaN
2,2024-08-13,"""never fly Air New Zealand again""",1,✅ Trip Verified | Air New Zealand bumped us ...,ATR-72,Family Leisure,Economy Class,Napier to Auckland,June 2024,3.0,4.0,NaN,1.0,NaN,1.0,no,NaN
3,2024-07-29,"""has been going downhill""",1,Not Verified | Very unfortunately the servic...,NaN,Solo Leisure,Business Class,San Francisco to Queenstown via Auckland,August 2023,2.0,3.0,2.0,1.0,1.0,2.0,no,2.0
4,2024-07-19,"""Cabin crew and aircraft were great""",10,✅ Trip Verified | Check-in was efficient; boa...,A320N,Solo Leisure,Economy Class,Auckland to Hobart,December 2023,4.0,5.0,4.0,4.0,NaN,5.0,yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
832,2013-05-08,Air New Zealand customer review,9,Flew Premium Economy from LAX to AKL on a 777-...,NaN,NaN,Premium Economy,NaN,NaN,4.0,5.0,5.0,NaN,NaN,5.0,yes,5.0
833,2013-05-08,Air New Zealand customer review,3,Leg room on Internal flights is getting smalle...,NaN,NaN,Economy Class,NaN,NaN,1.0,4.0,3.0,NaN,NaN,3.0,no,NaN
834,2013-05-06,Air New Zealand customer review,5,Adelaide to Auckland April 28 2013. Usual incr...,NaN,NaN,Economy Class,NaN,NaN,3.0,3.0,4.0,NaN,NaN,3.0,no,1.0
835,2013-05-01,Air New Zealand customer review,5,B747-400 Premium Economy SFO-AKL B767 Works AK...,NaN,NaN,Premium Economy,NaN,NaN,3.0,3.0,4.0,NaN,NaN,2.0,no,3.0
836,2013-05-01,Air New Zealand customer review,5,I have been flying with Air New Zealand since ...,NaN,NaN,Premium Economy,NaN,NaN,4.0,3.0,4.0,NaN,NaN,2.0,no,2.0

In [9]:
# Check for duplicates using 'header' or 'date'
# Remove duplicates based on 'header' and 'date' to ensure uniqueness
reviews_df = reviews_df.drop_duplicates(subset=['header', 'date'])

reviews_df

,date,header,rating,content,aircraft,type_of_traveller,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_&_beverages,ground_service,wifi_&_connectivity,value_for_money,recommended,inflight_entertainment
0,2024-08-29,“the legroom was huge”,9,Not Verified | I was honestly quite surprised ...,A320,Family Leisure,Economy Class,Auckland to Queenstown,December 2023,5.0,5.0,5.0,5.0,4.0,5.0,yes,NaN
1,2024-08-19,"""getting worse by the day""",3,Not Verified | Air New Zealand domestic servi...,NaN,Business,Economy Class,Auckland to Napier,August 2024,4.0,5.0,NaN,5.0,NaN,1.0,no,NaN
2,2024-08-13,"""never fly Air New Zealand again""",1,✅ Trip Verified | Air New Zealand bumped us ...,ATR-72,Family Leisure,Economy Class,Napier to Auckland,June 2024,3.0,4.0,NaN,1.0,NaN,1.0,no,NaN
3,2024-07-29,"""has been going downhill""",1,Not Verified | Very unfortunately the servic...,NaN,Solo Leisure,Business Class,San Francisco to Queenstown via Auckland,August 2023,2.0,3.0,2.0,1.0,1.0,2.0,no,2.0
4,2024-07-19,"""Cabin crew and aircraft were great""",10,✅ Trip Verified | Check-in was efficient; boa...,A320N,Solo Leisure,Economy Class,Auckland to Hobart,December 2023,4.0,5.0,4.0,4.0,NaN,5.0,yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,2013-05-12,Air New Zealand customer review,3,I have flown with Air New Zealand for several ...,NaN,NaN,Economy Class,NaN,NaN,3.0,2.0,3.0,NaN,NaN,2.0,no,4.0
830,2013-05-10,Air New Zealand customer review,10,Flew Wellington-San Francisco (via Auckland). ...,NaN,NaN,Premium Economy,NaN,NaN,5.0,5.0,5.0,NaN,NaN,4.0,yes,5.0
832,2013-05-08,Air New Zealand customer review,9,Flew Premium Economy from LAX to AKL on a 777-...,NaN,NaN,Premium Economy,NaN,NaN,4.0,5.0,5.0,NaN,NaN,5.0,yes,5.0
834,2013-05-06,Air New Zealand customer review,5,Adelaide to Auckland April 28 2013. Usual incr...,NaN,NaN,Economy Class,NaN,NaN,3.0,3.0,4.0,NaN,NaN,3.0,no,1.0
835,2013-05-01,Air New Zealand customer review,5,B747-400 Premium Economy SFO-AKL B767 Works AK...,NaN,NaN,Premium Economy,NaN,NaN,3.0,3.0,4.0,NaN,NaN,2.0,no,3.0

In [10]:
# Function to safely split the 'content' column into 'verified_status' and 'review_content'
def split_content(row):
    # Check if '|' is in the content to avoid IndexError
    if '|' in row['content']:
        parts = row['content'].split('|')
        # Check if 'Trip Verified' is present in the first part of the split
        if 'Trip Verified' in parts[0]:
            return 'Verified', parts[1].strip()  # Verified status and review content
        else:
            return 'Not Verified', parts[1].strip()  # Not Verified status and review content
    else:
        # If no '|' is found, assume the entire content is the review content, without verification status
        return 'Unknown', row['content'].strip()

In [11]:
# Apply the function to split 'content' into two new columns
reviews_df[['verified_status', 'review_content']] = reviews_df.apply(lambda row: split_content(row), axis=1, result_type='expand')

/var/folders/zc/zmsjc2n90lg57tm5x4g9t1rw0000gn/T/ipykernel_4743/1576019961.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_df[['verified_status', 'review_content']] = reviews_df.apply(lambda row: split_content(row), axis=1, result_type='expand')
/var/folders/zc/zmsjc2n90lg57tm5x4g9t1rw0000gn/T/ipykernel_4743/1576019961.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reviews_df[['verified_status', 'review_content']] = reviews_df.apply(lambda row: split_content(row), axis=1, result_type='expand')

In [12]:
# Drop the original 'content' column if no longer needed
reviews_df = reviews_df.drop(columns=['content'])

In [13]:
reviews_df.head()

,date,header,rating,aircraft,type_of_traveller,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_&_beverages,ground_service,wifi_&_connectivity,value_for_money,recommended,inflight_entertainment,verified_status,review_content
0,2024-08-29,“the legroom was huge”,9,A320,Family Leisure,Economy Class,Auckland to Queenstown,December 2023,5.0,5.0,5.0,5.0,4.0,5.0,yes,NaN,Not Verified,I was honestly quite surprised about Air New Z...
1,2024-08-19,"""getting worse by the day""",3,NaN,Business,Economy Class,Auckland to Napier,August 2024,4.0,5.0,NaN,5.0,NaN,1.0,no,NaN,Not Verified,Air New Zealand domestic service is getting wo...
2,2024-08-13,"""never fly Air New Zealand again""",1,ATR-72,Family Leisure,Economy Class,Napier to Auckland,June 2024,3.0,4.0,NaN,1.0,NaN,1.0,no,NaN,Verified,Air New Zealand bumped us off our flight on th...
3,2024-07-29,"""has been going downhill""",1,NaN,Solo Leisure,Business Class,San Francisco to Queenstown via Auckland,August 2023,2.0,3.0,2.0,1.0,1.0,2.0,no,2.0,Not Verified,"Very unfortunately the service, care, and qual..."
4,2024-07-19,"""Cabin crew and aircraft were great""",10,A320N,Solo Leisure,Economy Class,Auckland to Hobart,December 2023,4.0,5.0,4.0,4.0,NaN,5.0,yes,NaN,Verified,Check-in was efficient; boarding and departure...

In [14]:
# Convert 'verified_status' column to boolean based on whether it contains "verified"
reviews_df["verified_status"] = reviews_df["verified_status"].str.lower() == "verified"

reviews_df.head()

,date,header,rating,aircraft,type_of_traveller,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_&_beverages,ground_service,wifi_&_connectivity,value_for_money,recommended,inflight_entertainment,verified_status,review_content
0,2024-08-29,“the legroom was huge”,9,A320,Family Leisure,Economy Class,Auckland to Queenstown,December 2023,5.0,5.0,5.0,5.0,4.0,5.0,yes,NaN,False,I was honestly quite surprised about Air New Z...
1,2024-08-19,"""getting worse by the day""",3,NaN,Business,Economy Class,Auckland to Napier,August 2024,4.0,5.0,NaN,5.0,NaN,1.0,no,NaN,False,Air New Zealand domestic service is getting wo...
2,2024-08-13,"""never fly Air New Zealand again""",1,ATR-72,Family Leisure,Economy Class,Napier to Auckland,June 2024,3.0,4.0,NaN,1.0,NaN,1.0,no,NaN,True,Air New Zealand bumped us off our flight on th...
3,2024-07-29,"""has been going downhill""",1,NaN,Solo Leisure,Business Class,San Francisco to Queenstown via Auckland,August 2023,2.0,3.0,2.0,1.0,1.0,2.0,no,2.0,False,"Very unfortunately the service, care, and qual..."
4,2024-07-19,"""Cabin crew and aircraft were great""",10,A320N,Solo Leisure,Economy Class,Auckland to Hobart,December 2023,4.0,5.0,4.0,4.0,NaN,5.0,yes,NaN,True,Check-in was efficient; boarding and departure...

In [15]:
# Convert 'recommended' column to boolean based on whether it contains "yes"
reviews_df["recommended"] = reviews_df["recommended"].str.lower() == "yes"

reviews_df.head()

,date,header,rating,aircraft,type_of_traveller,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_&_beverages,ground_service,wifi_&_connectivity,value_for_money,recommended,inflight_entertainment,verified_status,review_content
0,2024-08-29,“the legroom was huge”,9,A320,Family Leisure,Economy Class,Auckland to Queenstown,December 2023,5.0,5.0,5.0,5.0,4.0,5.0,True,NaN,False,I was honestly quite surprised about Air New Z...
1,2024-08-19,"""getting worse by the day""",3,NaN,Business,Economy Class,Auckland to Napier,August 2024,4.0,5.0,NaN,5.0,NaN,1.0,False,NaN,False,Air New Zealand domestic service is getting wo...
2,2024-08-13,"""never fly Air New Zealand again""",1,ATR-72,Family Leisure,Economy Class,Napier to Auckland,June 2024,3.0,4.0,NaN,1.0,NaN,1.0,False,NaN,True,Air New Zealand bumped us off our flight on th...
3,2024-07-29,"""has been going downhill""",1,NaN,Solo Leisure,Business Class,San Francisco to Queenstown via Auckland,August 2023,2.0,3.0,2.0,1.0,1.0,2.0,False,2.0,False,"Very unfortunately the service, care, and qual..."
4,2024-07-19,"""Cabin crew and aircraft were great""",10,A320N,Solo Leisure,Economy Class,Auckland to Hobart,December 2023,4.0,5.0,4.0,4.0,NaN,5.0,True,NaN,True,Check-in was efficient; boarding and departure...

In [16]:
# Strip both straight and curly quotes from the 'header' column
reviews_df["header"] = reviews_df["header"].str.strip('"“”')

reviews_df.head()

,date,header,rating,aircraft,type_of_traveller,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_&_beverages,ground_service,wifi_&_connectivity,value_for_money,recommended,inflight_entertainment,verified_status,review_content
0,2024-08-29,the legroom was huge,9,A320,Family Leisure,Economy Class,Auckland to Queenstown,December 2023,5.0,5.0,5.0,5.0,4.0,5.0,True,NaN,False,I was honestly quite surprised about Air New Z...
1,2024-08-19,getting worse by the day,3,NaN,Business,Economy Class,Auckland to Napier,August 2024,4.0,5.0,NaN,5.0,NaN,1.0,False,NaN,False,Air New Zealand domestic service is getting wo...
2,2024-08-13,never fly Air New Zealand again,1,ATR-72,Family Leisure,Economy Class,Napier to Auckland,June 2024,3.0,4.0,NaN,1.0,NaN,1.0,False,NaN,True,Air New Zealand bumped us off our flight on th...
3,2024-07-29,has been going downhill,1,NaN,Solo Leisure,Business Class,San Francisco to Queenstown via Auckland,August 2023,2.0,3.0,2.0,1.0,1.0,2.0,False,2.0,False,"Very unfortunately the service, care, and qual..."
4,2024-07-19,Cabin crew and aircraft were great,10,A320N,Solo Leisure,Economy Class,Auckland to Hobart,December 2023,4.0,5.0,4.0,4.0,NaN,5.0,True,NaN,True,Check-in was efficient; boarding and departure...

In [17]:
# Ensure reviews_df is the DataFrame
# Identify the numeric columns
numeric_columns = reviews_df.select_dtypes(include=['float64', 'int64']).columns

# Replace missing values (NaN) in numeric columns with -1
reviews_df[numeric_columns] = reviews_df[numeric_columns].fillna(-1)

In [18]:
reviews_df.head()

,date,header,rating,aircraft,type_of_traveller,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_&_beverages,ground_service,wifi_&_connectivity,value_for_money,recommended,inflight_entertainment,verified_status,review_content
0,2024-08-29,the legroom was huge,9,A320,Family Leisure,Economy Class,Auckland to Queenstown,December 2023,5.0,5.0,5.0,5.0,4.0,5.0,True,-1.0,False,I was honestly quite surprised about Air New Z...
1,2024-08-19,getting worse by the day,3,NaN,Business,Economy Class,Auckland to Napier,August 2024,4.0,5.0,-1.0,5.0,-1.0,1.0,False,-1.0,False,Air New Zealand domestic service is getting wo...
2,2024-08-13,never fly Air New Zealand again,1,ATR-72,Family Leisure,Economy Class,Napier to Auckland,June 2024,3.0,4.0,-1.0,1.0,-1.0,1.0,False,-1.0,True,Air New Zealand bumped us off our flight on th...
3,2024-07-29,has been going downhill,1,NaN,Solo Leisure,Business Class,San Francisco to Queenstown via Auckland,August 2023,2.0,3.0,2.0,1.0,1.0,2.0,False,2.0,False,"Very unfortunately the service, care, and qual..."
4,2024-07-19,Cabin crew and aircraft were great,10,A320N,Solo Leisure,Economy Class,Auckland to Hobart,December 2023,4.0,5.0,4.0,4.0,-1.0,5.0,True,-1.0,True,Check-in was efficient; boarding and departure...

In [19]:
# Identify the categorical columns
categorical_columns = reviews_df.select_dtypes(include=['object']).columns

# Strip leading and trailing spaces from all categorical columns
reviews_df[categorical_columns] = reviews_df[categorical_columns].apply(lambda x: x.str.strip())

In [20]:
reviews_df.head()

,date,header,rating,aircraft,type_of_traveller,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_&_beverages,ground_service,wifi_&_connectivity,value_for_money,recommended,inflight_entertainment,verified_status,review_content
0,2024-08-29,the legroom was huge,9,A320,Family Leisure,Economy Class,Auckland to Queenstown,December 2023,5.0,5.0,5.0,5.0,4.0,5.0,True,-1.0,False,I was honestly quite surprised about Air New Z...
1,2024-08-19,getting worse by the day,3,NaN,Business,Economy Class,Auckland to Napier,August 2024,4.0,5.0,-1.0,5.0,-1.0,1.0,False,-1.0,False,Air New Zealand domestic service is getting wo...
2,2024-08-13,never fly Air New Zealand again,1,ATR-72,Family Leisure,Economy Class,Napier to Auckland,June 2024,3.0,4.0,-1.0,1.0,-1.0,1.0,False,-1.0,True,Air New Zealand bumped us off our flight on th...
3,2024-07-29,has been going downhill,1,NaN,Solo Leisure,Business Class,San Francisco to Queenstown via Auckland,August 2023,2.0,3.0,2.0,1.0,1.0,2.0,False,2.0,False,"Very unfortunately the service, care, and qual..."
4,2024-07-19,Cabin crew and aircraft were great,10,A320N,Solo Leisure,Economy Class,Auckland to Hobart,December 2023,4.0,5.0,4.0,4.0,-1.0,5.0,True,-1.0,True,Check-in was efficient; boarding and departure...

In [21]:
# Save the cleaned reviews to a CSV file
reviews_df.to_csv("air_nz_cleaned_data.csv", index=False)
reviews_df

,date,header,rating,aircraft,type_of_traveller,seat_type,route,date_flown,seat_comfort,cabin_staff_service,food_&_beverages,ground_service,wifi_&_connectivity,value_for_money,recommended,inflight_entertainment,verified_status,review_content
0,2024-08-29,the legroom was huge,9,A320,Family Leisure,Economy Class,Auckland to Queenstown,December 2023,5.0,5.0,5.0,5.0,4.0,5.0,True,-1.0,False,I was honestly quite surprised about Air New Z...
1,2024-08-19,getting worse by the day,3,NaN,Business,Economy Class,Auckland to Napier,August 2024,4.0,5.0,-1.0,5.0,-1.0,1.0,False,-1.0,False,Air New Zealand domestic service is getting wo...
2,2024-08-13,never fly Air New Zealand again,1,ATR-72,Family Leisure,Economy Class,Napier to Auckland,June 2024,3.0,4.0,-1.0,1.0,-1.0,1.0,False,-1.0,True,Air New Zealand bumped us off our flight on th...
3,2024-07-29,has been going downhill,1,NaN,Solo Leisure,Business Class,San Francisco to Queenstown via Auckland,August 2023,2.0,3.0,2.0,1.0,1.0,2.0,False,2.0,False,"Very unfortunately the service, care, and qual..."
4,2024-07-19,Cabin crew and aircraft were great,10,A320N,Solo Leisure,Economy Class,Auckland to Hobart,December 2023,4.0,5.0,4.0,4.0,-1.0,5.0,True,-1.0,True,Check-in was efficient; boarding and departure...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
829,2013-05-12,Air New Zealand customer review,3,NaN,NaN,Economy Class,NaN,NaN,3.0,2.0,3.0,-1.0,-1.0,2.0,False,4.0,False,I have flown with Air New Zealand for several ...
830,2013-05-10,Air New Zealand customer review,10,NaN,NaN,Premium Economy,NaN,NaN,5.0,5.0,5.0,-1.0,-1.0,4.0,True,5.0,False,Flew Wellington-San Francisco (via Auckland). ...
832,2013-05-08,Air New Zealand customer review,9,NaN,NaN,Premium Economy,NaN,NaN,4.0,5.0,5.0,-1.0,-1.0,5.0,True,5.0,False,Flew Premium Economy from LAX to AKL on a 777-...
834,2013-05-06,Air New Zealand customer review,5,NaN,NaN,Economy Class,NaN,NaN,3.0,3.0,4.0,-1.0,-1.0,3.0,False,1.0,False,Adelaide to Auckland April 28 2013. Usual incr...
835,2013-05-01,Air New Zealand customer review,5,NaN,NaN,Premium Economy,NaN,NaN,3.0,3.0,4.0,-1.0,-1.0,2.0,False,3.0,False,B747-400 Premium Economy SFO-AKL B767 Works AK...